.button {
  appearance: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: auto;
  outline: none;
  border-radius: 6px;
  padding: 0 16px;
  border: none;
  background: none;
  background-color: hsl(176, 96%, 42%);
  color: white;
  font-size: 16px;
  line-height: 0;
  transition: 250ms background-color;
}
.button:hover {
  background-color: hsl(177 96% 40%);
  cursor: pointer;
}
.button:focus-visible {
  outline: 2px solid hsl(176 98% 42%);
  outline-offset: 2px;
}
.button:active {
  background-color: hsl(177 90% 40%);
}