.form-remove {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.label-remove {
    margin: 2% 0 5% 0;
}

#city {
    appearance: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    width: 100%;
    outline: none;
    border-radius: 8px;
    padding: 0 16px;
    border: 1px white solid;
    background: none;
    background-color: rgba(13, 201, 193, 0.46);
    color: white;
    font-size: 16px;
    line-height: 0;
    transition: 250ms background-color;
    margin-top: 12%;
}

#city:focus-visible, #school:focus-visible {
    outline: 2px solid white;
    outline-offset: 2px;
}

#city:active, #school:active {
    background-color: hsl(177 90% 40%);
}

#city:invalid, #school:invalid {
    background-color: rgba(227, 100, 100, 0.46);
}

#city:hover, #school:hover {
    background-color: hsl(177 96% 40%);
}

#school {
    appearance: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    width: 100%;
    outline: none;
    border-radius: 8px;
    padding: 0 16px;
    border: 1px white solid;
    background: none;
    background-color: rgba(13, 201, 193, 0.46);
    color: white;
    font-size: 16px;
    line-height: 0;
    transition: 250ms background-color;
}
