.image {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    overflow: hidden;
    user-select: none;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background-color: hsl(0, 0%, 100%);
    margin: 60px auto;
}
.image__img {
    width: 97%;
    height: 97%;
    object-fit: cover;
    border-radius: inherit;
}
.image__fallback {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(204 94% 94%);
    color: hsl(201 96% 32%);
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
}

#school, #city, #new_password {
    appearance: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    width: 100%;
    outline: none;
    border-radius: 8px;
    border: 1px white solid;
    background: none;
    background-color: rgba(13, 201, 193, 0.46);
    color: white;
    font-size: 16px;
    line-height: 0;
    transition: 250ms background-color;
}

#school, #city {
    margin-top: 15%;
}

#new_password {
    margin-top: 8%;
}

#school:hover, #city:hover, #new_password:hover {
    background-color: hsl(177 96% 40%);
}
#school:focus-visible, #city:focus-visible, #new_password:focus-visible {
    outline: 2px solid white;
    outline-offset: 2px;
}
#school:active, #city:active, #new_password:active {
    background-color: hsl(177 90% 40%);
}

#school:invalid, #city:invalid, #new_password:invalid {
    background-color: rgba(227, 100, 100, 0.46);
}

#school::placeholder, #city::placeholder, #new_password::placeholder {
    text-decoration: none;
    text-align: justify;
}