.form-questionnaire {
    width: 100%;
    height: 70%;
}

.input-questionnaire {
    width: 100%;
    background-color: #00868D;
    border: none;
}
.input-questionnaire:focus {
    background-color: hsl(177, 100%, 34%);
    outline: none;
}

.question-questionnaire {
    margin: 4% 0 1% 0;
}

