#school_level{
    appearance: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    width: 100%;
    outline: none;
    border-radius: 8px;
    padding: 0 16px;
    border: 1px white solid;
    background: none;
    background-color: rgba(13, 201, 193, 0.46);
    color: white;
    font-size: 16px;
    line-height: 0;
    transition: 250ms background-color;
}


#school_level:focus-visible {
    outline: 2px solid white;
    outline-offset: 2px;
}
#school_level:active {
    background-color: hsl(177 90% 40%);
}

#school_level:invalid{
    color: rgba(255,255,255,0.5);
    background-color: rgba(227, 100, 100, 0.46);
}
#school_level:hover {
    background-color: hsl(177 96% 40%);
}

.school_level_label {
    display: block;
    transition: all 0.3s;
    transform: translateY(-6rem);
}

#school_level + .school_level_label{
    opacity: 0;
    visibility: hidden;
    --webkit-transform: translateY(-3rem);
    transform: translateY(-3rem);
}

#signup-title{
    margin-bottom: 70px;
    font-size: xx-large;
}
