
h1, label{
    color: #FFFFFF;
}
h1 {
    font-family: 'Roboto';
}
.search {
    height: 1.5em;
    border-radius: 50px;
    border-style: none;
    font-size: 16px;
}

label {
    margin-bottom: 1.5%;
}

input {
    width: 70%;
    height: 3.5em;
    border-radius: 10px;
    border: 1px solid #000000;
    background-color: #000000;
    color: #FFFFFF;
    text-indent: 4ch;
}

#data_project {
    width: 50%;
    height: 3.5em;
}

li {
    list-style-type: none;
    width: 70%;
    background-color: #DDDDDD;
    border-radius: 3px;
    margin-bottom: 0.4%;
    margin-left: 15%;
}