
h1, label{
    color: #FFFFFF;
}
h1 {
    font-family: 'Roboto';
}
.search {
    height: 1.5em;
    border-radius: 50px;
    border-style: none;
    font-size: 16px;
}

label {
    margin-bottom: 1.5%;
}

input {
    width: 80%;
    height: 3.5em;
    border-radius: 10px;
    border: 1px solid #000000;
    background-color: #000000;
    color: #FFFFFF;
    text-indent: 4ch;
}

#data_project {
    width: 30%;
    height: 3.5em;
    font-family: 'Roboto';
}

#options {
    font-family: 'Roboto';
}
li {
    list-style-type: none;
    width: 80%;
    background-color: #DDDDDD;
    border-radius: 3px;
    margin-bottom: 0.4%;
    margin-left: 10%;
}

.delete-team {
    appearance: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 5%;
    outline: none;
    border-radius: 6px;
    padding: 0 16px;
    border: none;
    background-color: #E36464;
    color: white;
    font-size: 16px;
    line-height: 0;
    transition: 250ms background-color;
    font-family: 'Roboto';
}

.delete-team:hover {
    background-color: #ac4747;
    cursor: pointer;
}

.answer-questionnaire {
    appearance: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 35%;
    outline: none;
    border-radius: 6px;
    padding: 0 16px;
    border: none;
    background-color: #00868D;
    color: white;
    font-size: 16px;
    line-height: 0;
    transition: 250ms background-color;
    font-family: 'Roboto';
}

.answer-questionnaire:hover {
    background-color: #006f73;
    cursor: pointer;
}

