.link {
    font-weight: 500;
    color: #FFFFFF;
    text-decoration: none;
    transition: font-size 0.1s;
    font-size: 18px;
}
.link:hover {
    color: #02CDC0;
    transition: 1s;
    cursor: pointer;
}
.link[data-disabled] {
    cursor: not-allowed;
    background-color: none;
}
.link[data-disabled]:hover {
    text-decoration: none;
    background-color: none;
}
.data-challenge {
    list-style: none;
    position: relative;
}
.data-project {
    top: 0.7%;
    position: absolute;
}
.down {
    filter: invert(100%);
    aspect-ratio: 1/1;
    width: 25px;
    margin-left: -75%;
    margin-top: 20%;
}
.down:hover {
    cursor: pointer;
    filter: invert(60%);
    transition: 0.5s;
}

.deconnexion {
    appearance: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 120px;
    outline: none;
    border-radius: 6px;
    padding: 0 16px;
    border: none;
    background: none;
    background-color: #E36464;
    color: white;
    font-size: 16px;
    line-height: 0;
    transition: 250ms background-color;
}

.deconnexion:hover {
    background-color: #ac4747;
    cursor: pointer;
}
