.link {
    font-weight: 500;
    color: #FFFFFF;
    text-decoration: none;
    transition: font-size 0.1s;
    font-size: 18px;
}
.link:hover {
    color: #02CDC0;
    transition: 1s;
}
.link[data-disabled] {
    cursor: not-allowed;
    background-color: none;
}
.link[data-disabled]:hover {
    text-decoration: none;
    background-color: none;
}
.data-challenge {
    list-style: none;
    position: relative;
}
.data-project {
    top: 0.7%;
    position: absolute;
}
.down {
    filter: invert(100%);
    aspect-ratio: 1/1;
    width: 25px;
    margin-left: -75%;
    margin-top: 20%;
}
.down:hover {
    cursor: pointer;
    filter: invert(60%);
    transition: 0.5s;
}
