/* Définition de la nouvelle police */
@font-face {
    font-family: 'abel';
    src: url('../font/abel.ttf') format('truetype');
}

.background {
    aspect-ratio: 2/1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -9;
    filter: brightness(72%);    
}

.text {
    color: #FFFFFF;
    font-size: 96px;
    font-family: "abel";
    margin-left: 15%;
    margin-top: 10%;
}